In [6]:

# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import scipy.stats as st
from scipy.stats import linregress
import scipy.stats as stats

## Reading Data from .csv file

In [20]:
# Read the mouse data and the study results
epp_data= pd.read_csv("data/database_epp_5years_selected_CSV_with_dots.csv", na_values = ".")
epp_data.head(10)

,Plant Id,Plant Name,Operator Name,Plant State,Reported\nFuel Type Code,AER\nFuel Type Code,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Electricity Generation\n(Megawatthours),YEAR
0,3,Barry,Alabama Power Co,AL,NG,NG,1243854,1243854,2633517,2020
1,3,Barry,Alabama Power Co,AL,NG,NG,53006762,53006762,5084350,2020
2,3,Barry,Alabama Power Co,AL,BIT,COL,26188716,26188716,2625835,2020
3,3,Barry,Alabama Power Co,AL,NG,NG,1621910,1621910,155444,2020
4,3,Barry,Alabama Power Co,AL,SUB,COL,0,0,0,2020
5,7,Gadsden,Alabama Power Co,AL,NG,NG,711203,626712,50435,2020
6,10,Greene County,Alabama Power Co,AL,DFO,DFO,1829,1829,135,2020
7,10,Greene County,Alabama Power Co,AL,NG,NG,674593,674593,47405,2020
8,10,Greene County,Alabama Power Co,AL,NG,NG,11106229,11106229,1023602,2020
9,26,E C Gaston,Alabama Power Co,AL,DFO,DFO,3432,3432,132,2020

In [21]:
new_df = epp_data.replace(np.nan, 0)
new_df.head(20)

,Plant Id,Plant Name,Operator Name,Plant State,Reported\nFuel Type Code,AER\nFuel Type Code,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Electricity Generation\n(Megawatthours),YEAR
0,3,Barry,Alabama Power Co,AL,NG,NG,1243854,1243854,2633517,2020
1,3,Barry,Alabama Power Co,AL,NG,NG,53006762,53006762,5084350,2020
2,3,Barry,Alabama Power Co,AL,BIT,COL,26188716,26188716,2625835,2020
3,3,Barry,Alabama Power Co,AL,NG,NG,1621910,1621910,155444,2020
4,3,Barry,Alabama Power Co,AL,SUB,COL,0,0,0,2020
5,7,Gadsden,Alabama Power Co,AL,NG,NG,711203,626712,50435,2020
6,10,Greene County,Alabama Power Co,AL,DFO,DFO,1829,1829,135,2020
7,10,Greene County,Alabama Power Co,AL,NG,NG,674593,674593,47405,2020
8,10,Greene County,Alabama Power Co,AL,NG,NG,11106229,11106229,1023602,2020
9,26,E C Gaston,Alabama Power Co,AL,DFO,DFO,3432,3432,132,2020
10,26,E C Gaston,Alabama Power Co,AL,BIT,COL,25074442,25074442,2384709,2020
11,26,E C Gaston,Alabama Power Co,AL,NG,NG,15534485,15534485,1412105,2020
12,46,Browns Ferry,Tennessee Valley Authority,AL,NUC,NUC,95796119,95796119,9174116,2020
13,46,Browns Ferry,Tennessee Valley Authority,AL,NUC,NUC,105452945,105452945,10098922,2020
14,46,Browns Ferry,Tennessee Valley Authority,AL,NUC,NUC,99217921,99217921,9501812,2020
15,51,Dolet Hills,Cleco Power LLC,LA,LIG,COL,8208023,8208023,639124,2020
16,51,Dolet Hills,Cleco Power LLC,LA,NG,NG,376410,376410,28113,2020
17,51,Dolet Hills,Cleco Power LLC,LA,PG,WOO,0,0,0,2020
18,54,J K Smith,"East Kentucky Power Coop, Inc",KY,BIT,COL,0,0,0,2020
19,54,J K Smith,"East Kentucky Power Coop, Inc",KY,DFO,DFO,4743,4743,300,2020

In [22]:
#epp_data["Elec_Consumed_MMBtu\nJanuary"].replace({'.': 0})
#new_df["Elec_Consumed_MMBtu\nJanuary"].sum()

KeyError: 'Elec_Consumed_MMBtu\nJanuary'

In [23]:
epp_data["AER\nFuel Type Code"].value_counts()

NG     15078
SUN    10893
DFO    10527
HYC     5974
WND     4846
COL     3701
MLG     2049
WWW     1576
OTH     1502
ORW     1097
RFO     1077
WOO     1075
OOG      643
NUC      492
GEO      310
PC       284
HPS      200
WOC      134
Name: AER\nFuel Type Code, dtype: int64

In [24]:
# Read the mouse data and the study results
epp_coords_data= pd.read_csv("data/december_generator2020_lan_long_CSV.csv")
epp_coords_data.head(20)

,Entity ID,Entity Name,Plant Id,Plant Name,Plant State,Latitude,Longitude
0,63560,"TDX Sand Point Generating, LLC",1.0,Sand Point,AK,55.339722,-160.49720
1,63560,"TDX Sand Point Generating, LLC",1.0,Sand Point,AK,55.339722,-160.49720
2,63560,"TDX Sand Point Generating, LLC",1.0,Sand Point,AK,55.339722,-160.49720
3,63560,"TDX Sand Point Generating, LLC",1.0,Sand Point,AK,55.339722,-160.49720
4,63560,"TDX Sand Point Generating, LLC",1.0,Sand Point,AK,55.339722,-160.49720
5,63560,"TDX Sand Point Generating, LLC",1.0,Sand Point,AK,55.339722,-160.49720
6,195,Alabama Power Co,2.0,Bankhead Dam,AL,33.458665,-87.35682
7,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
8,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
9,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
10,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
11,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
12,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
13,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
14,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
15,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
16,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
17,195,Alabama Power Co,4.0,Walter Bouldin Dam,AL,32.583889,-86.28306
18,195,Alabama Power Co,4.0,Walter Bouldin Dam,AL,32.583889,-86.28306
19,195,Alabama Power Co,4.0,Walter Bouldin Dam,AL,32.583889,-86.28306

In [25]:
#Removing dublicates from long-lan
no_dublicates = epp_coords_data.drop_duplicates(subset=['Plant Name'])
no_dublicates.head()

,Entity ID,Entity Name,Plant Id,Plant Name,Plant State,Latitude,Longitude
0,63560,"TDX Sand Point Generating, LLC",1.0,Sand Point,AK,55.339722,-160.49720
6,195,Alabama Power Co,2.0,Bankhead Dam,AL,33.458665,-87.35682
7,195,Alabama Power Co,3.0,Barry,AL,31.006900,-88.01030
17,195,Alabama Power Co,4.0,Walter Bouldin Dam,AL,32.583889,-86.28306
20,195,Alabama Power Co,7.0,Gadsden,AL,34.012800,-85.97080

In [26]:
merged_df = pd.merge(new_df, no_dublicates, on="Plant Id", how="inner")
merged_df.head()

merged_df = merged_df.rename(columns={"AER\nFuel Type Code": "AER_Fuel_Type_Code"})

In [27]:
merged_df

,Plant Id,Plant Name_x,Operator Name,Plant State_x,Reported\nFuel Type Code,AER_Fuel_Type_Code,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Electricity Generation\n(Megawatthours),YEAR,Entity ID,Entity Name,Plant Name_y,Plant State_y,Latitude,Longitude
0,3,Barry,Alabama Power Co,AL,NG,NG,1243854,1243854,2633517,2020,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
1,3,Barry,Alabama Power Co,AL,NG,NG,53006762,53006762,5084350,2020,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
2,3,Barry,Alabama Power Co,AL,BIT,COL,26188716,26188716,2625835,2020,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
3,3,Barry,Alabama Power Co,AL,NG,NG,1621910,1621910,155444,2020,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
4,3,Barry,Alabama Power Co,AL,SUB,COL,0,0,0,2020,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56896,10148,White Pine Electric Power,White Pine Electric Power LLC,MI,NG,NG,57582,57582,3920,2016,1951,White Pine Electric Power LLC,White Pine Electric Power,MI,46.764400,-89.5669
56897,56814,ELACC Photovoltaic Power Facility,MMA LA Power LP,CA,SUN,SUN,4809,4809,521,2016,56027,MMA LA Power LP,ELACC Photovoltaic Power Facility,CA,34.040278,-118.1481
56898,57226,Solar Photovoltaic Project #12,Southern California Edison Co,CA,SUN,SUN,0,0,0,2016,17609,Southern California Edison Co,Solar Photovoltaic Project #12,CA,34.042222,-117.5617
56899,57806,RE Dillard 4,X-Elio North America Inc,CA,SUN,SUN,7802,7802,845,2016,62948,Gamma Genco CV LLC,RE Dillard 4 LLC,CA,38.461944,-121.1803
56900,59754,Lakeland Electric Co. (FL) - Airport II,"NVT LICENSES, LLC",FL,SUN,SUN,55911,55911,6056,2016,58473,"NVT LICENSES, LLC",Lakeland Electric Co. (FL) - Airport II,FL,27.991144,-82.0473

In [28]:
epp_data["AER\nFuel Type Code"].value_counts()

NG     15078
SUN    10893
DFO    10527
HYC     5974
WND     4846
COL     3701
MLG     2049
WWW     1576
OTH     1502
ORW     1097
RFO     1077
WOO     1075
OOG      643
NUC      492
GEO      310
PC       284
HPS      200
WOC      134
Name: AER\nFuel Type Code, dtype: int64

In [29]:
merged_df['Plant Type'] = pd.np.where(merged_df.AER_Fuel_Type_Code.str.contains("NG"), "Natural Gas",
                        pd.np.where(merged_df.AER_Fuel_Type_Code.str.contains("SUN"), "Solar",
                        pd.np.where(merged_df.AER_Fuel_Type_Code.str.contains("GEO"), "Geothermal",
                        pd.np.where(merged_df.AER_Fuel_Type_Code.str.contains("WWW"), "Wood",
                        pd.np.where((merged_df.AER_Fuel_Type_Code.str.contains("COL")|merged_df.AER_Fuel_Type_Code.str.contains("WOC")), "Coal",
                        pd.np.where((merged_df.AER_Fuel_Type_Code.str.contains("DFO")|merged_df.AER_Fuel_Type_Code.str.contains("WOO")), "Petroleum",
                        pd.np.where((merged_df.AER_Fuel_Type_Code.str.contains("PC")|merged_df.AER_Fuel_Type_Code.str.contains("RFO")), "Petroleum",
                        pd.np.where(merged_df.AER_Fuel_Type_Code.str.contains("OOG"), "Natural Gas",
                        pd.np.where((merged_df.AER_Fuel_Type_Code.str.contains("HYC")|merged_df.AER_Fuel_Type_Code.str.contains("HPS")), "Hydroelectric",
                        pd.np.where(merged_df.AER_Fuel_Type_Code.str.contains("NUC"), "Nuclear",
                        pd.np.where(merged_df.AER_Fuel_Type_Code.str.contains("WND"), "Wind","Other")))))))))))

C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.
C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  after removing the cwd from sys.path.
C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """
C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  import sys
C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  if __name__ == '__main__':
C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  # Remove the CWD from sys.path while we load stuff.
C:\Users\nvkar\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  # This is added back by InteractiveShellApp.init_path()

In [30]:
merged_df.head()

,Plant Id,Plant Name_x,Operator Name,Plant State_x,Reported\nFuel Type Code,AER_Fuel_Type_Code,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Electricity Generation\n(Megawatthours),YEAR,Entity ID,Entity Name,Plant Name_y,Plant State_y,Latitude,Longitude,Plant Type
0,3,Barry,Alabama Power Co,AL,NG,NG,1243854,1243854,2633517,2020,195,Alabama Power Co,Barry,AL,31.0069,-88.0103,Natural Gas
1,3,Barry,Alabama Power Co,AL,NG,NG,53006762,53006762,5084350,2020,195,Alabama Power Co,Barry,AL,31.0069,-88.0103,Natural Gas
2,3,Barry,Alabama Power Co,AL,BIT,COL,26188716,26188716,2625835,2020,195,Alabama Power Co,Barry,AL,31.0069,-88.0103,Coal
3,3,Barry,Alabama Power Co,AL,NG,NG,1621910,1621910,155444,2020,195,Alabama Power Co,Barry,AL,31.0069,-88.0103,Natural Gas
4,3,Barry,Alabama Power Co,AL,SUB,COL,0,0,0,2020,195,Alabama Power Co,Barry,AL,31.0069,-88.0103,Coal

In [31]:
# Export file as a CSV, without the Pandas index, but with the header
merged_df.to_csv("us_plants_coords.csv", index=False, header=True)

## Emissions: CO2, SO2, NOx

In [57]:
# Read the mouse data and the study results
co2_data= pd.read_csv("data/Emission_datas/CO2_CSV.csv")
co2_data.head()

,Year,Plant Code,Plant Name,State,Fuel Code,Aggregated Fuel Group,Generation (kWh),Total Fuel Consumption (MMBtu),Fuel Consumption for Electric Generation (MMBtu),Fuel Units,Tons of CO2 Emissions,Metric Tonnes of CO2 Emissions,EIA Balancing Authority Region
0,2019,1,Sand Point,AK,DFO,PET,2758000,28934,28934,Barrels,2333,2117,Alaska
1,2019,3,Barry,AL,NG,GAS,2824887000,1499638,1499638,Mcf,87728,79587,Southeast
2,2019,3,Barry,AL,NG,GAS,5306391000,55606180,55606180,Mcf,3252939,2951047,Southeast
3,2019,3,Barry,AL,BIT,COAL,4174904192,41521966,41521966,Tons,4270348,3874035,Southeast
4,2019,3,Barry,AL,NG,GAS,164624808,1662458,1662458,Mcf,97253,88227,Southeast

In [59]:
co2_data["Aggregated Fuel Group"].unique()

array(['PET', 'GAS', 'COAL', 'GEO', 'MSW'], dtype=object)

In [61]:
co2_data =co2_data.rename(columns={"Plant Code": "Plant Id"})

In [62]:
co2_geo_df = pd.merge(co2_data, no_dublicates, on="Plant Id", how="inner")
co2_geo_df.head()

,Year,Plant Id,Plant Name_x,State,Fuel Code,Aggregated Fuel Group,Generation (kWh),Total Fuel Consumption (MMBtu),Fuel Consumption for Electric Generation (MMBtu),Fuel Units,Tons of CO2 Emissions,Metric Tonnes of CO2 Emissions,EIA Balancing Authority Region,Entity ID,Entity Name,Plant Name_y,Plant State,Latitude,Longitude
0,2019,1,Sand Point,AK,DFO,PET,2758000,28934,28934,Barrels,2333,2117,Alaska,63560,"TDX Sand Point Generating, LLC",Sand Point,AK,55.339722,-160.4972
1,2019,3,Barry,AL,NG,GAS,2824887000,1499638,1499638,Mcf,87728,79587,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
2,2019,3,Barry,AL,NG,GAS,5306391000,55606180,55606180,Mcf,3252939,2951047,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
3,2019,3,Barry,AL,BIT,COAL,4174904192,41521966,41521966,Tons,4270348,3874035,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
4,2019,3,Barry,AL,NG,GAS,164624808,1662458,1662458,Mcf,97253,88227,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103

In [69]:
# Export file as a CSV, without the Pandas index, but with the header
co2_geo_df.to_csv("data/co2_geo_df.csv", index=False, header=True)

In [44]:
# Read the mouse data and the study results
so2_data= pd.read_csv("data/Emission_datas/SO2_CSV.csv")
so2_data.count()

Year                                                24889
Plant Code                                          24889
Plant Name                                          24889
State                                               24889
Fuel Code                                           24889
Aggregated Fuel Group                               24889
Generation (kWh)                                    24889
Total Fuel Consumption (MMBtu)                      24889
Fuel Consumption for Electric Generation (MMBtu)    24889
Fuel Units                                          24889
Selected SO2 Emissions (Tons)                       24889
Selected SO2 Emissions (Metric Tonnes)              24889
EIA Balancing Authority Region                      24889
dtype: int64

In [63]:
so2_data =so2_data.rename(columns={"Plant Code": "Plant Id"})

In [64]:
so2_geo_df = pd.merge(so2_data, no_dublicates, on="Plant Id", how="inner")
so2_geo_df.head()

,Year,Plant Id,Plant Name_x,State,Fuel Code,Aggregated Fuel Group,Generation (kWh),Total Fuel Consumption (MMBtu),Fuel Consumption for Electric Generation (MMBtu),Fuel Units,Selected SO2 Emissions (Tons),Selected SO2 Emissions (Metric Tonnes),EIA Balancing Authority Region,Entity ID,Entity Name,Plant Name_y,Plant State,Latitude,Longitude
0,2019,1,Sand Point,AK,DFO,PET,2.758000e+06,28934.0,28934.0,Barrels,3.9,3.6,Alaska,63560,"TDX Sand Point Generating, LLC",Sand Point,AK,55.339722,-160.4972
1,2019,3,Barry,AL,NG,GAS,2.824887e+09,1499638.0,1499638.0,Mcf,0.4,0.3,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
2,2019,3,Barry,AL,NG,GAS,5.306391e+09,55606180.0,55606180.0,Mcf,13.3,12.1,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
3,2019,3,Barry,AL,BIT,COAL,4.174904e+09,41521966.0,41521966.0,Tons,3480.8,3157.7,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
4,2019,3,Barry,AL,NG,GAS,1.646248e+08,1662458.0,1662458.0,Mcf,0.2,0.2,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103

In [68]:
# Export file as a CSV, without the Pandas index, but with the header
so2_geo_df.to_csv("data/so2_geo_df.csv", index=False, header=True)

In [45]:
# Read the mouse data and the study results
nox_data= pd.read_csv("data/Emission_datas/NOx_CSV.csv")
nox_data.count()

Year                                                24889
Plant Code                                          24889
Plant Name                                          24889
State                                               24889
Fuel Code                                           24889
Aggregated Fuel Group                               24889
Generation (kWh)                                    24889
Total Fuel Consumption (MMBtu)                      24889
Fuel Consumption for Electric Generation (MMBtu)    24889
Fuel Units                                          24889
Selected NOx Emissions (Tons)                       24889
Selected NOx Emissions (Metric Tonnes)              24889
NERC Region                                         24836
EIA Balancing Authority Region                      24889
dtype: int64

In [65]:
nox_data =nox_data.rename(columns={"Plant Code": "Plant Id"})

In [66]:
nox_geo_df = pd.merge(nox_data, no_dublicates, on="Plant Id", how="inner")
nox_geo_df.head()

,Year,Plant Id,Plant Name_x,State,Fuel Code,Aggregated Fuel Group,Generation (kWh),Total Fuel Consumption (MMBtu),Fuel Consumption for Electric Generation (MMBtu),Fuel Units,Selected NOx Emissions (Tons),Selected NOx Emissions (Metric Tonnes),NERC Region,EIA Balancing Authority Region,Entity ID,Entity Name,Plant Name_y,Plant State,Latitude,Longitude
0,2019,1,Sand Point,AK,DFO,PET,2.758000e+06,28934.0,28934.0,Barrels,46.29,42.00,NaN,Alaska,63560,"TDX Sand Point Generating, LLC",Sand Point,AK,55.339722,-160.4972
1,2019,3,Barry,AL,NG,GAS,2.824887e+09,1499638.0,1499638.0,Mcf,5.37,4.87,SERC,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
2,2019,3,Barry,AL,NG,GAS,5.306391e+09,55606180.0,55606180.0,Mcf,1990.33,1805.62,SERC,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
3,2019,3,Barry,AL,BIT,COAL,4.174904e+09,41521966.0,41521966.0,Tons,357.07,323.93,SERC,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103
4,2019,3,Barry,AL,NG,GAS,1.646248e+08,1662458.0,1662458.0,Mcf,8.31,7.53,SERC,Southeast,195,Alabama Power Co,Barry,AL,31.006900,-88.0103

In [67]:
# Export file as a CSV, without the Pandas index, but with the header
nox_geo_df.to_csv("data/nox_geo_df.csv", index=False, header=True)